.about {
  padding: 90px 0 200px;
  overflow: hidden;
}

.about .container {
  padding-right: 0;
}

.about__wrapper {
  display: flex;
  margin-bottom: 130px;
  &:last-child {
    margin-bottom: 0;
    .about__info {
      margin-right: 40px;
    }
  }
}

.about__icon {
  margin-bottom: 20px;
  order: -2;
}
.about__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
  max-width: 300px;
  min-width: 300px;
}

.about__title {
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
}

.about__subtitle {
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  color: $textBlack;
  order: -1;
}

.about__text {
  margin-bottom: 30px;
}