.ad__left {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  height: 180px;
}

.ad__task {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.ad__description {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.ad__bold {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: $textLight;
}

.ad__card {
  &:not(:last-child) {
    margin-bottom: 28px;
  }
}

.ad__link {
  display: block;
  padding: 40px;
  color: $textColor;
}

.ad__card--freelancers {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 30px 30px;
  color: $textColor;
  .ad__left {
    width: 100%;
    max-width: 320px;
    height: 250px;
  }
  .best__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }
  .best__title {
    font-size: 18px;
    line-height: 21px;
  }
  .ad__right {
    width: 100%;
    max-width: 760px;
  }
}

.ad__top {
  display: flex;
  justify-content: space-between;
}

.ad__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
  &--works {
    justify-content: flex-start;
    max-width: none;
  }
}

.ad__element {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: $textLight;
  &--price {
    color: $blue;
  }
  &--works {
    display: block;
    width: 160px;
    height: 200px;
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}

.ad__skills {
  margin-top: auto;
}

.ad__right {
  display: flex;
  justify-content: space-between;
}

.ad__price-box {
  width: 100%;
  padding-left: 60px;
}

.ad__price {
  font-size: 32px;
  line-height: 27px;
  font-weight: 500;
  color: $blue;
  &--small {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    color: $textLight;
  }
}