.ad__left {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  min-height: 180px;
  .user-card {
    margin-right: 35px;
  }
}

.ad__info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: -100px;
  margin-bottom: 40px;
}

.ad__heading {
  margin-bottom: 0;
}

.ad__section {
  margin-bottom: 20px;
}

.ad__status {
  display: flex;
  flex-direction: column;
}

.ad__publish {
  margin-bottom: 40px;
  order: 0;
}

.ad__task {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.ad__description {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.ad__bold {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: $textLight;
}

.ad__card {
  &:not(:last-child) {
    margin-bottom: 28px;
  }
}

.ad__link {
  display: block;
  padding: 40px;
  padding-right: 65px;
  color: $textColor;
  &:hover {
    border-color: $blue;
  }
}

.ad__card--freelancers {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 30px 30px;
  color: $textColor;
  .ad__left {
    width: 100%;
    max-width: 320px;
    min-height: 250px;
  }
  .best__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }
  .best__title {
    font-size: 18px;
    line-height: 21px;
  }
  .ad__right {
    max-width: 760px;
  }
}

.ad__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ad__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
  &--works {
    justify-content: flex-start;
    max-width: none;
  }
}

.ad__element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: $textLight;
}

.ad__element--price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: $blue;
}

.ad__element--works {
  &:not(:last-child) {
    margin-right: 24px;
  }
  a {
    display: block;
    max-width: 160px;
    max-height: 200px;
  }
}

.ad__skills {
  margin-top: auto;
}

.ad__right {
  display: flex;
  justify-content: space-between;
}

.ad__price-box {
  width: 100%;
  max-width: 230px;
  padding-left: 60px;
}

.ad__price {
  margin-top: 14px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: $blue;
}

@media (max-width: 1200px) {
  .ad__right {
    flex-direction: column;
  }
  .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .price--small {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    span {
      margin-top: 5px;
    }
  }
  .ad__price-box {
    padding-left: 0;
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .ad__price-box {
    max-width: 100%;
  }
  .ad__card {
    flex-direction: column;
  }
  .ad__info {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }
  .ad__status {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  .ad__publish {
    order: 2;
    margin-bottom: 0;
  }
  .ad__card--freelancers .ad__left {
    min-height: auto;
    margin-bottom: 10px;
    .board__btn {
      margin-top: 10px;
    }
  }
  .ad__top {
    position: relative;
    flex-direction: column;
  }
  .ad__element {
    margin-bottom: 0;
  }
  .ad__list {
    margin-top: 20px;
    max-width: 100%;
  }
  .ad__element:first-child {
    position: absolute;
    top: 0;
    right: 0;
  }
  .ad__element--works,
  .ad__element--order {
    &:first-child {
      position: static;
    }
  }
}

@media (max-width: 600px) {
  .ad__link {
    padding: 20px;
  }
  .ad__list {
    margin-top: 10px;
  }
  .ad__element {
    margin-bottom: 0;
  }
  .ad__publish {
    max-width: 100px;
  }
}

@media (max-width: 420px) {
  .ad__link,
  .ad__card {
    padding: 20px 10px;
  }
}