.best {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $bgDark;
  .container {
    padding: 0 100px 0 170px;
  }
}
.best__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 50px;
  margin-top: 50px;
}
.best__item {
  display: block;
  width: 100%;
}