.card {
  display: flex;
  align-items: flex-start;
  margin-top: 77px;
}

.card__item {
  display: flex;
  padding: 30px 20px;
  flex-direction: column;
  max-width: 300px;
  min-width: 300px;
  margin-right: 16px;
  height: 240px;
}

.card__task {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}

.card__category {
  margin-top: auto;
}

.card__category--element {
  font-size: 16px;
  line-height: 18px;
  &:not(:first-child) {
    &::before {
      content: "-";
      display: inline-block;
      padding-left: 5px;
      padding-right: 8px;
    }
  }
}

.card__info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 28px;
}

.card__element {
  margin-right: 40px;
}

.card__head {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 18px;
  color: $textBlack;
}

.card__text {
  font-weight: 700;
  line-height: 21px;
}

.card--big {
  margin-top: 24px;
  .card__item {
    max-width: 360px;
    min-width: 360px;
    height: 340px;
  }
  .card__element {
    margin-right: 32px;
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .card__head {
    margin-bottom: 8px;
    font-size: 18px;
  }
  .card__text {
    font-size: 16px;
  }
  .card__info {
    margin-top: auto;
  }
}