.help {
  display: flex;
  align-items: center;
}

.help__box {
  position: relative;
  width: 100%;
  max-width: 530px;
  min-width: 320px;
  &--big {
    max-width: 640px;
    min-width: 640px;
  }
};

.help__input {
  padding-right: 55px;
}

.help__btn {
  position: absolute;
  top: 50%;
  right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
  &:hover {
    .help__icon {
      stroke: $blue;
    }
  }
}

.help__icon {
  stroke: #B0B0B0;
}

.help__text {
  display: block;
  margin: 0 30px;
  line-height: 21px;
  font-weight: 700;
};

@media (max-width: 767px) {
  .help {
    flex-direction: column;
  }
  .help__box {
    margin-bottom: 20px;
    max-width: 400px;
  }
  .help__text {
    margin-bottom: 20px;
  }
}