.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(61, 61, 61, 0.25);
  z-index: 9999;
}

.modal--active {
  display: flex;
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  padding: 60px;
  width: 100%;
  max-width: 640px;
  border-radius: 20px;
  background-color: #fff;
}

.modal__wrapper--big {
  max-width: 920px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal__input {
  display: block;
  margin-bottom: 20px;
  padding: 19.5px 20.5px;
  max-width: 360px;
}

.modal__area {
  display: block;
  margin-bottom: 30px;
  padding: 19.5px 20.5px;
  max-height: 140px;
  resize: none;
}

.modal__btn,
.modal__cancel {
  display: inline-block;
}