.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__item {
  display: block;
  margin-right: 24px;
  font-weight: 700;
  line-height: 21px;
  color: $textLight;
  &:last-child {
    margin-right: 0;
  }
}

.user__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 19.4px;
  cursor: pointer;
}