.order {
  padding: 60px;
}

.order__wrapper {
  width: 100%;
}

.order__element {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 40px 60px 40px 20px;
  margin-bottom: 10px;
}

.order__list {
  display: flex;
}

.order__select {
  display: inline-block;
  padding: 13.5px 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: $textColor;
  border: none;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}

.order__select-wrapper {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 5px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('../img/icons/Polygon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    transform: translateY(-50%);
  }
}

.order__header {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}

.order__body {
  width: 100%;
}

.order__item {
  &:not(:last-child) {
    margin-right: 36px;
  }
  .section__heading {
    color: #D2D2D2;
  }
}

.order__item--toggle {
  .section__heading {
    color: $textColor;
  }
}

.order__category {
  margin-bottom: 25px;
  font-size: 16px;
}

.order__link {
  display: inline-block;
  margin-top: 10px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 900;
  color: $blue;
  text-decoration: underline;
}

.order__left {
  max-width: 660px;
}

.order__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    margin-bottom: 5px;
  }
}

.order__price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: $blue;
}

.order__date {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}

.btn__icon {
  stroke: #B0B0B0;
}

.order__btn {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 18px 20px;
  cursor: pointer;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &:hover {
    border-color: $blue;
    .btn__icon {
      stroke: $blue;
    }
  }
}

.order__element--active {
  border-color: $blue;
  .order__btn {
    display: flex;
  }
}

.order__control {
  position: absolute;
  top: 50%;
  right: -34px;
  transform: translateY(-50%);
}

.moderation {
  color: #F9A000;
}
.cancel {
  color: #EA4444;
}

@media (max-width: 1024px) {
  .order__list {
    flex-wrap: wrap;
  }
  .order__element {
    flex-wrap: wrap;
  }
  .order__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
  }
  .order__item {
    margin-bottom: 10px;
    .section__heading {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

@media (max-width: 768px) {
  .order {
    padding: 25px;
  }
  .order__header {
    margin-bottom: 20px;
  }
  .order__select-wrapper {
    display: inline-flex;
  }
  .order__list {
    display: none;
  }
}

@media (max-width: 550px) {
  .board__title {
    margin-bottom: 30px;
  }
  .order__header {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }
  .order__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .order__left {
    position: relative;
  }
  .moderation {
    position: absolute;
    top: 38px;
    right: 0;
  }
  .order__text {
    font-size: 16px;
  }
  .order__category {
    margin-bottom: 10px;
  }
  .order__element {
    padding: 20px;
  }
  .order__item {
    &:not(:last-child) {
      margin-right: 0;
    }
  }
}

@media (max-width: 420px) {
  .order {
    padding: 10px;
  }
  .order__element {
    padding: 30px 7px 30px 15px;
  }
}
