.profile__breadcrumbs {
  margin-bottom: 20px;
}

.profile--element {
  margin-bottom: 10px;
}

.profile-about {
  margin-bottom: 30px;
}

.profile__bg {
  display: block;
  width: 100%;
  height: 220px;
  background: radial-gradient(411.41% 1529.04% at 1.55% 241.88%, #0076CB 0%, #98ECEC 92.98%);
  border-radius: 20px 20px 0px 0px;
}

.profile__box {
  padding: 30px 80px;
  &--add {
    padding-top: 60px;
  }
}

.profile__picture-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -80px;
  margin-bottom: 20px;
}

.profile__avatar {
  width: 100px;
  height: 100px;
}

.profile__name {
  margin-bottom: 5px;
  font-size: 32px;
  line-height: 37px;
  font-weight: 500;
}

.profile__place {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.profile__header {
  margin-bottom: 40px;
}

.profile--settings {
  .profile__name {
    margin-bottom: 40px;
  }
}

.profile__control {
  margin-top: 50px;
  margin-bottom: 77px;
}