.skills__title {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: $textBlack;
}
.skills__list {
  display: flex;
  flex-wrap: wrap;
}
.skills__item {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $blue;
  &:not(:last-child)::after {
    content: ",";
    display: inline-block;
    margin-right: 5px;
  }
}

.skills__item--button {
  font-weight: 900;
  color: $textColor;
  .skills__link {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    color: $textColor;
    cursor: pointer;
  }
}

.skills-add {
  display: block;
  padding: 11.5px 21.5px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: $textColor;
  border: 1px solid #D2D2D2;
  border-radius: 38px;
  background-color: #fff;
  cursor: pointer;
  span {
    color: $blue;
  }
}