.skills__title {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: $textBlack;
}
.skills__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  &--big {
    .skills__item {
      font-size: 18px;
    }
  }
  &--ad {
    .skills__item {
      font-size: 16px;
      line-height: 18px;
      font-weight: 900;
      color: $textColor;
    }
  }
}

.skills__item {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  color: $blue;
}
.skills__item:not(:first-child) {
  &::before {
    content: ",";
    display: block;
    padding-right: 5px;
  }
}