.stats {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  list-style: none;
  background: #FFFFFF;
  border: 1.5px solid #D2D2D2;
  box-sizing: border-box;
  box-shadow: 0px 7px 5px #F5F5F5;
  border-radius: 10px;
}

.stats__item {
  position: relative;
  display: block;
  padding: 26px 18px;
  width: 25%;
  &:not(:last-child) {
    &::after {
      content: "";
      position: absolute;
      top: -1px;
      right: 0;
      display: block;
      width: 1.5px;
      height: 102%;
      background-color: $textLight;
    }
  }
}

.stats__title {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: $textLight;
}

.stats__description {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}