.user {
  margin-top: -80px;
  margin-bottom: 40px;
}
.user__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.user__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.user__image {
  max-width: 100px;
}

.user__info {
  display: flex;
  justify-content: space-between;
}

.user__name {
  margin-bottom: 5px;
  font-size: 32px;
  line-height: 37px;
  font-weight: 500;
}

.user__place {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.user__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 5px;
}

.user__post {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $textLight;
}

.user__valid {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}