.user-form__wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
}

.user-form__box {
  margin-bottom: 40px;
}

.user-form__item,
.select__wrapper {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.user-form__input,
.select {
  padding: 19.5px 16.5px;
  border-radius: 4px;
  max-width: 207px;
}

.user-form__input--cash::-webkit-outer-spin-button,
.user-form__input--cash::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.select {
  display: block;
  min-width: 207px;
  cursor: pointer;
  color: $textLight;
  appearance: none;
}

.select__wrapper {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 22px;
    display: block;
    width: 12px;
    height: 6px;
    background-image: url('../../img/icons/select-chevron_icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}