.user {
  margin-top: -80px;
  margin-bottom: 40px;
}
.user__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.user__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.user__image {
  max-width: 100px;
}

.user__btn {
  padding: 20.5px 23.5px;
}

.user__name {
  margin-bottom: 5px;
  font-size: 32px;
  line-height: 37px;
  font-weight: 500;
}

.user__place {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.user__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 5px;
}

.user__post {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $textLight;
}

.user__valid {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.user-card__name-link {
  position: relative;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: $textColor;
  &::after {
    content: "";
    position: absolute;
    top: -7px;
    right: -15px;
    display: block;
    width: 14px;
    height: 14px;
    background-image: url('../../img/icons/external-link.svg');
    background-size: cover;
    background-position: center center;
  }
}

.user-card__link {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: $blue;
  span {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
  }
}

.user__btn--footer {
  display: none;
}

@media (max-width: 768px) {
  .user__valid {
    display: none;
  }
  .user__post {
    margin-bottom: 0;
  }
}

@media (max-width: 550px) {
  .user__name {
    margin-bottom: 11px;
    font-size: 20px;
    line-height: 24px;
  }
  .user__post {
    font-size: 14px;
    line-height: 18px;
  }
  .user__btn--header {
    display: none;
  }
  .user__btn--footer {
    display: inline-block;
  }
}