html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
	line-height: 21px;

	color: $textColor;
	background-color: $bgColor;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input, 
button,
textarea {
	&:focus {
		outline: 2px solid $blue;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.index {
	background-color: #fff;
}

.container {
	display: block;
	width: 100%;
	max-width: 1440px;
	padding: 0 80px;
	margin: 0 auto;
	&--profile {
		padding: 0 130px;
	}
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.element {
	background: #FFFFFF;
	border: 1px solid #F9F9F9;
	box-shadow: 0px 7px 5px #F5F5F5;
	border-radius: 10px;
}

.element--full {
  display: block;
	width: 100%;
}

.element--user {
	border: 5px solid #fff;
	box-shadow: (0px 7px 10px rgba(191, 191, 191, 0.32));
	border-radius: 8px;	
	overflow: hidden;
}

.element--input {
	display: block;
	width: 100%;
	padding: 18.5px 30.5px;
	font-size: 18px;
	color: $textColor;
	border-radius: 4px;
	&::placeholder {
		color: $textLight;
	}
}

.btn {
	display: block;
	padding: 19.5px 30px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	white-space: nowrap;
	color: $white;
	background-color: $blue;
	border: 1px solid $blue;
	box-shadow: 0px 4px 25px rgba(0, 118, 203, 0.35);
	border-radius: 4px;
	cursor: pointer;
	transition: 0.2s;
	&:hover {
		background: #FFFFFF;
		border: 1px solid #FCFCFC;
		box-sizing: border-box;
		box-shadow: 0px 7px 5px #F5F5F5;
		border-radius: 10px;
		color: $blue;
	}
	&:disabled {
		color: rgba(255, 255, 255, 0.5);
		&:hover {
			background-color: $blue;
			border: 1px solid $blue;
			box-shadow: 0px 4px 25px rgba(0, 118, 203, 0.35);
			border-radius: 4px;
		}
	}
}

.btn--title {
	font-size: 18px;
	line-height: 21px;
}

.btn--transparent {
	font-weight: 900;
	color: $textBlack;
	background-color: transparent;
	box-shadow: none;
	border: none;
	transition: 0;
	&:hover {
		font-weight: 900;
		color: $textBlack;
		background-color: transparent;
		box-shadow: none;
		border: none;
	}
}

.btn--profile {
	padding: 21px 44px 21px;
	border-radius: 10px;
}

.btn--long {
	padding: 19.5px 61px;
}

.btn--control {
	border-radius: 10px;
}

.btn--add {
	padding: 12px 21px;
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	color: $textLight;
	border: 1px solid #D2D2D2;
	border-radius: 38px;
	background-color: #fff;
	box-shadow: none;
	span {
		color: $blue;
	}
	&:hover {
		border-radius: 50px;
		border-color: $blue;
	}
}

.section__header {
	display: flex;
	flex-direction: column;
}

.section__head--gray {
	color: $textLight;
}

.section__title {
	font-size: 48px;
	line-height: 56px;
	font-weight: 700;
	order: 1;
}

.section__subtitle {
	margin-bottom: 5px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 900;
	color: $textBlack;
}

.section__head {
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	margin-bottom: 15px;
}

.section__head--light {
	font-size: 16px;
	line-height: 18px;
	font-weight: 900;
	color: $textBlack;
	margin-bottom: 18px;
}

.section__heading {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	margin-bottom: 40px;
	color: $textColor;
}

.section__text {
	font-size: 18px;
	line-height: 25px;
	font-weight: 400;
}

.control {
	display: flex;
	flex-wrap: wrap;
	.control__cancel {
		font-size: 16px;
		line-height: 19px;
		font-weight: 900;
		color: $textBlack;
		background-color: transparent;
		border: transparent;
		box-shadow: none;
	}
}
.file {
  position: relative;
	display: flex;
  align-items: center;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  color: $textLight;
	cursor: pointer;
  &::before {
    content: "";
    display: inline-block;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #F9F9F9;
    box-shadow: 0px 7px 5px #F5F5F5;
    border-radius: 10px;
    background-color: #fff;
    background-image: url('../../img/icons/paperclip_icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.main-title {
	display: inline-block;
	margin-bottom: 60px;
	font-size: 48px;
	line-height: 56px;
	font-weight: 700;
	span {
		color: $blue;
	}
}	

.main--reg {
	height: calc(100vh - 158px);
	.container {
		height: 100%;
	}
}

.reg {
	background-image: url('../img/reg_bg.jpg');
	background-repeat: no-repeat;
	background-position: top right;
}

.special__wrapper {
	position: relative;
  width: 100%;
	&::after {
    content: "";
		position: absolute;
		top: 50%;
		right: 35px;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../../img/icons/select-chevron_icon.svg');
    background-repeat: no-repeat;
		background-position: center center;
		transform: translateY(-50%);
  }
}

.special__wrapper--icon {
	&::after {
		content: "$";
		position: absolute;
		top: 52%;
		left: 19px;
		font-size: 18px;
		line-height: 21px;
		background: none;
	}
}

.price {
  font-size: 32px;
  line-height: 27px;
  font-weight: 500;
  color: $textColor;
	order: 1;
  span {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    color: $textLight;
  }
}

.price--small {
	span {
		font-weight: 400;
	}
}

.price--blue {
	color: $blue;
}

.article {
	font-size: 16px;
	line-height: 18px;
	color: $textBlack;
}

// Простенькая валидация input-ов
input:invalid:not(:placeholder-shown) {border-color: #DA1919;}
input:valid:not(:placeholder-shown) {border-color: #009D52;}

// Свойство disabled для иконок
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.full {
	display: block;
	height: 100vh;
}

// Media выражения
@media (max-width: 1200px) {
	.container--profile {
		padding: 0 80px;
	}
}

@media (max-width: 1024px) {
	body {
		background-image: none !important;
	}
	.reg {
		background-image: none;
  }
}

@media (max-width: 950px) {
	.special__wrapper--board {
		&::after {
			right: 15px;
		}
	}
}

@media (max-width: 840px) {
	.container {
		padding: 0 50px;
	}
}

@media (max-width: 768px) {
	.section__title {
		font-size: 38px;
		line-height: 46px;
	}
}

@media (max-width: 600px) {
	.container {
		padding: 0 35px;
	}
	.main-title {
		font-size: 38px;
		line-height: 46px;
	}
}

@media (max-width: 500px) {
	.main--reg {
		height: 100%;
	}
}

@media (max-width: 420px) {
	.main-title {
		font-size: 22px;
		line-height: 28px;
	}
	.section__title {
		font-size: 22px;
		line-height: 28px;
	}
	.section__text {
		font-size: 16px;
		line-height: 23px;
	}
	.section__heading {
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 22px;
	}
	.btn--long {
		padding-left: 40px;
		padding-right: 40px;
	}
	.control {
		justify-content: center;
	}
}